.MySwiper {
    width: 5rem;
    height: 30rem;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 7rem;
    
  }
  
  .Myswiper-slide {
     text-align: center; 
    font-size: 18px;
    background: #c1a5a5;
    
  
    /* Center slide text vertically */
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
   .Myswiper-slide img {
    /* display: block; */
    width: 100%;
    height: 100%;
    object-fit: fill;
  } 