:root {
  --clr-primary-400: 263 55% 52%;
  --clr-secondary-400: 217 19% 35%;
  --clr-secondary-500: 219 29% 14%;
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 210 46% 95%;
  --clr-neutral-300: 0 0% 81%;

  --ff-primary: "Barlow Semi Condensed", sans-serif;

  --fw-400: 500;
  --fw-700: 600;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
}

body{
  overflow-x: scroll;
  
}
.mySwiper {
  width: 80%;
  height: 100vh;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 7rem;
  
}

.myswiper-slide {
   text-align: center; 
  font-size: 18px;
  background: #c1a5a5;
  

  /* Center slide text vertically */
  display: flex; 
  justify-content: center;
  align-items: center;
}

 .myswiper-slide img {
  /* display: block; */
  width: 100%;
  height: 100%;
  object-fit: fill;
} 


.navbar {
  /* background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%); */
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.custom {
  position: relative;
  color: #fff;
}

.custom::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in-out;
}

.custom:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.card {
  padding: 2rem;
  background-color: #444;
  color: white;
  text-align: left;
}

.card__title {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 1rem;
}

.card__title::after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -2rem;
  bottom: -0.25rem;
  width: calc(100% + 4rem);
  background: #ee6352;
  z-index: -1;
  -webkit-transform: scaleX(0.075);
  transform: scaleX(0.075);
  -webkit-transform-origin: left;
  transform-origin: left;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.card:hover .card__title::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.card__body {
  position: relative;
  z-index: 1;
  color: transparent;
  margin: 0;
  transition: color 150ms 350ms;
}

.card__body::after {
  content: "";
  position: absolute;
  top: -0.75rem;
  bottom: -0.75rem;
  left: -0.75em;
  right: -0.75em;
  background: white;
  z-index: -1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  transition: -webkit-transform 250ms ease-in 250ms;
  transition: transform 250ms ease-in 250ms;
  transition: transform 250ms ease-in 250ms,
    -webkit-transform 250ms ease-in 250ms;
  -webkit-transform-origin: top;
  transform-origin: top;
}

.card:hover .card__body {
  color: #333;
}

.card:hover .card__body::after {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.btn{
  background: #ee6352;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem -0.25rem hsl(215, 25%, 27%);
  /* transition: background 0.3s; */
  transition: all 0.3s;
}

.btn:hover{
  background: #f70808;
  
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1.5rem;
  flex-direction: column;
  color: azure;
  padding: 1rem;
  background: hsl(218, 33%, 9%);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem hsl(215, 25%, 27%);
}

.scroller {
  max-width: 1366px;
}

.scroller_inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.mySwiper {
  width: 50%;
  height: 20rem;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  box-shadow: 0 0.5rem 1rem -0.25rem hsl(215, 25%, 27%);
}
.swiper-slide img {
  display: block;
}

.footer {
  width: 100%;
  /* position: absolute; */
  bottom: 0;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  padding: 1rem;
  text-align: center;
  color: white;
  border-top-left-radius: 125px;
}

.row {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.col {
  padding: 10px;
}

.col h3 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.col p {
  line-height: 1.5;
  color: #b3b3b3;
}

ul li {
  /* list-style: none; */
  margin-bottom: 7px;
}

ul li a {
  color: #b3b3b3;
  text-decoration: none;
}

ul li a:hover {
  color: #fff;
}

table,th,td{
  border: 1px solid black ;
  padding: 1rem;
  
}
th{
  background-color: black;
  color: white;
  
}
tr:hover{
  background-color: gray;
  color: white;
  
}

.discount{
  animation-name: pump;
  animation-iteration-count: infinite;
  text-align: center;
  animation-direction: normal;
  animation-duration: 3s;
  margin-bottom: 3rem;
  margin-top: 3rem;
  
}
@keyframes pump {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}

/* .Gswiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Gswiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.Gswiper-slide-img {
  
  width: 100%;
  object-fit: fill;
} */


.sponsor-heading {
  margin: 20px 0;
  font-size: 2rem;
  color: rgb(23 37 84);
  /* text-align: center; */
  font-weight: 700;
}

.sponsor-text-container {
  margin: 20px 0;
  margin-bottom: 100px;
}

.sponsor-text-container h4 {
  font-size: 1.5rem;
}

.sponsor-text-container ul {
  list-style-type: disc;
  margin-left: 20px;
  line-height: 1;
}

.sponsor-text-container p {
  text-align: justify;
}

.books li{
  list-style-type: none;

}

.books li img {
  width: 175px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.books li p {
  width: 175px;
  text-align: center;
  font-size: 15px;
}

.books li {
  margin: 20px;
  margin-bottom: 30px;
}

.books li:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.indexing img {
  width: 145px;
  height: 120px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 10px;
}

.awards-text-container h4 {
  font-size: 1.25rem;
}

.bg-primary-400 {
  background: hsl(var(--clr-primary-400));
}
.bg-secondary-400 {
  background: hsl(var(--clr-secondary-400));
}
.bg-secondary-500 {
  background: hsl(var(--clr-secondary-500));
}

.bg-neutral-100 {
  background: hsl(var(--clr-neutral-100));
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.text-secondary-400 {
  color: hsl(var(--clr-secondary-400));
}
.border-primary-400 {
  border: 2px solid #a775f1;
}

.testimonial {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(217 19% 35% / 0.25);
}

.downloads{

  border-radius: 0.5rem;
  border-radius: 0.5rem;
  /* box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(217 19% 35% / 0.25); */
  box-shadow: 0 0.5rem 1rem -0.25rem hsl(215, 25%, 27%);

}
.clicks{

  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  /* box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(217 19% 35% / 0.25); */
  box-shadow: 0 0.5rem 1rem -0.25rem hsl(215, 25%, 27%);

}

.testimonials{
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(217 19% 35% / 0.25);
}

.testimonials h3{
  font-size: 1.25rem;
}

.testimonials hr{
  margin-bottom: 1rem ;
}

.testimonial > p:first-of-type {
  font-size: var(--fs-500);
  line-height: 1.2;
  margin-bottom: 1rem;
}

.testimonial > p:last-of-type {
  opacity: 0.7;
  margin-top: 1rem;
}

.testimonial-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight"
    "nine"
    "ten"
    "eleven"
    "twelve"
    "thirteen"
    "fourteen"
    "fifteen"
    "sixteen"
    "seventeen"
    "eighteen"
    "nineteen"
    "twenty"
    "twentyone"
    "twentytwo"
    "twentythree"
    "twentyfour"
    "twentyfive"
    "twentysix"
    "twentyseven"
    "twentyeight"
    "twentynine"
    "thirty"
    "thirtyone"
    "thirtytwo"
    "thirtythree"
    "thirtyfour"
    "thirtyfive";

  padding-block: 2rem;
  /* width: min(95%); */
  margin-inline: auto;
}

.testimonial:nth-child(1) {
  grid-area: one;
}
.testimonial:nth-child(2) {
  grid-area: two;
}
.testimonial:nth-child(3) {
  grid-area: three;
}
.testimonial:nth-child(4) {
  grid-area: four;
}
.testimonial:nth-child(5) {
  grid-area: five;
}
.testimonial:nth-child(6) {
  grid-area: six;
}
.testimonial:nth-child(7) {
  grid-area: seven;
}
.testimonial:nth-child(8) {
  grid-area: eight;
}
.testimonial:nth-child(9) {
  grid-area: nine;
}
.testimonial:nth-child(10) {
  grid-area: ten;
}
.testimonial:nth-child(11) {
  grid-area: eleven;
}
.testimonial:nth-child(12) {
  grid-area: twelve;
}
.testimonial:nth-child(13) {
  grid-area: thirteen;
}
.testimonial:nth-child(14) {
  grid-area: fourteen;
}
.testimonial:nth-child(15) {
  grid-area: fifteen;
}
.testimonial:nth-child(16) {
  grid-area: sixteen;
}
.testimonial:nth-child(17) {
  grid-area: seventeen;
}
.testimonial:nth-child(18) {
  grid-area: eighteen;
}
.testimonial:nth-child(19) {
  grid-area: nineteen;
}
.testimonial:nth-child(20) {
  grid-area: twenty;
}
.testimonial:nth-child(21) {
  grid-area: twentyone;
}
.testimonial:nth-child(22) {
  grid-area: twentytwo;
}
.testimonial:nth-child(23) {
  grid-area: twentythree;
}
.testimonial:nth-child(24) {
  grid-area: twentyfour;
}
.testimonial:nth-child(25) {
  grid-area: twentyfive;
}
.testimonial:nth-child(26) {
  grid-area: twentysix;
}
.testimonial:nth-child(27) {
  grid-area: twentyseven;
}
.testimonial:nth-child(28) {
  grid-area: twentyeight;
}
.testimonial:nth-child(29) {
  grid-area: twentynine;
}
.testimonial:nth-child(30) {
  grid-area: thirty;
}
.testimonial:nth-child(31) {
  grid-area: thirtyone;
}
.testimonial:nth-child(32) {
  grid-area: thirtytwo;
}
.testimonial:nth-child(33) {
  grid-area: thirtythree;
}
.testimonial:nth-child(34) {
  grid-area: thirtyfour;
}
.testimonial:nth-child(35) {
  grid-area: thirtyfive;
}


@media screen and (min-width: 936px) {
  .testimonial-grid {
      grid-template-areas:
      "one one one one "
      "two two  three three"
      "four five five  six"
      "seven seven eight nine"
      "ten eleven twelve thirteen "
      "fifteen fourteen sixteen seventeen"
      "eighteen nineteen nineteen twenty "
      "twentyone twentytwo twentythree twentyfour"
      "twentyfive twentyfive twentysix twentysix "
      "twentyseven twentyeight twentynine thirty "
      "thirtyone thirtyone thirtytwo thirtythree "
      " thirtyfive thirtyfive  thirtyfour thirtyfour";
  }
}


@media screen and (min-width: 1024px) {
  .testimonial-grid {
      grid-template-areas:
      "one one one one one"
      "two two two three three"
      "four five five six six"
      "seven seven eight eight nine"
      "ten eleven twelve thirteen fourteen"
      "fifteen fifteen sixteen sixteen seventeen"
      "eighteen nineteen nineteen twenty twenty"
      "twentyone twentytwo twentytwo twentythree twentyfour"
      "twentyfive twentyfive twentysix twentysix twentysix"
      "twentyseven twentyeight twentynine thirty thirty"
      "thirtyone thirtyone thirtytwo thirtythree thirtythree"
      " thirtyfive thirtyfive thirtyfour thirtyfour thirtyfour";
  }
}
@media screen  and (min-width:300px) {
  .download-blocks{
    margin-left: 2rem;
}




  
}
@media screen and (max-width:640px) {
  .mySwiper{
    height: 27rem;
    width: 90%;
  }
  .impdates{
    margin: auto;
    width: 90%;
    
  }
  .impdatesmarquee{
    height: 40rem;
  }
  .discount{
    animation-play-state: paused;
    flex-wrap: wrap;
    
    font-size:smaller;
  }
  
  .table1{
    width: 40%;
  }
  .gallery{
    left: 2rem;
  }
  .logos{
    margin-left:5rem;
  }
  .logo{
    margin-left: 0rem;
    margin-top: 2rem;
  }



  
}

.dateNotice{
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one"
    "two";

    padding-block: 2rem;
    /* width: min(95%); */
    margin-inline: auto;
  }
  
  .imp:nth-child(1) {
    grid-area: one;
  }
  .imp:nth-child(2) {
    grid-area: two;
  }
  @media screen and (min-width: 936px) {
    .dateNotice {
        grid-template-areas:
        "one one one two two two two "
        "one one one two two two two "
    }
  }



