 .custom{
  position: relative;
}

.custom::after{
  content: '';
  position: absolute; 
  width: calc(100%);
  height: 2px;
  left: 0;
  bottom: -2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in-out;
}

.custom:hover::after{
  transform: scaleX(1);
  transform-origin: left;

}

.card {
  padding: 2rem;
  background-color: #444;
  color: white;
  text-align: left;
}

.card__title {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 1rem;
}

.card__title::after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -2rem;
  bottom: -0.25rem;
  width: calc(100% + 4rem);
  background: #ee6352;
  z-index: -1;
  -webkit-transform: scaleX(0.075);
          transform: scaleX(0.075);
  -webkit-transform-origin: left;
          transform-origin: left;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.card:hover .card__title::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.card__body {
  position: relative;
  z-index: 1;
  color: transparent;
  margin: 0;
  transition: color 150ms 350ms;
}

.card__body::after {
  content: "";
  position: absolute;
  top: -0.75rem;
  bottom: -0.75rem;
  left: -0.75em;
  right: -0.75em;
  background: white;
  z-index: -1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  transition: -webkit-transform 250ms ease-in 250ms;
  transition: transform 250ms ease-in 250ms;
  transition: transform 250ms ease-in 250ms, -webkit-transform 250ms ease-in 250ms;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.card:hover .card__body {
  color: #333;
}

.card:hover .card__body::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.tag-list{
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1.5rem;
  flex-direction: column;
  color:azure;
  padding: 1rem;
  background: hsl(218, 33%, 9%);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem hsl(215, 25%, 27%);
}

.scroller{
  max-width: 1366px;
}

.scroller_inner{
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
} 

